<!DOCTYPE html>
<html ng-app="ClimberTask">
<head>
	<title>Climber Task Page</title>
	<script src="ClimberTask.js"></script> 
	
	<style>
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body ng-controller ="ClimberTaskController">
  <a href="blank" align="right">Account</a>
  <a href="blank" align="right">Logout</a>
  <h1 align="center">Climber Task Page</h1>
  
<h2>Search for a task</h2>
	<input type ="text" ng-model="search"> 
	<ul> 
		<li ng-repeat="item in list | filter:search"> 
			{{item.taskname}} 
		</li> 
	</ul> 
	
		
<form ng-submit="addTask">

        <input type="text" class="form-control" placeholder="Task Name" ng-model="taskname">
        <input type="submit" value="Submit">
    
  
</form>
 <!--   <table>
      <tr>
        <th>Task Name</th> <!-- Actual Task name will go here in end product -->
        <th>Deadline</th>
        <th>Status</th>
        <th>Compensation</th>
      </tr>
      <tr>
        <td>Task 1</td>
        <td>10/12/2017</td>
        <td>Not Completed</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Task 2</td>
        <td>10/13/2017</td>
        <td> Completed</td>
        <td>$100</td>
      </tr>
    </table>
    -->
    <!-- Regarding functionality of list:
       - Maybe list should be filtered by skill level,
       or by compensation type, or deadline.
       - There might need to be other columns in the table
     -->
</form>
</body>
</html>
